<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <% if @group.id.nil? %>
        <%= f.association :leader, collection: current_user.company.users, selected: current_user.id, disabled: true %>
    <% else %>
        <%= f.association :leader, collection: current_user.company.users %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
