<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= form_tag :users do %>
    <div class="form-inputs">
      <h3>Company</h3>
      <div class="control-group">
        <%= label :company, :name, class: 'control-label' %>
        <div class="controls">
          <%= text_field :company, :name %>
        </div>
      </div>
      <h3>User</h3>
      <div class="control-group">
        <%= label :user, :first_name, class: 'control-label' %>
        <div class="controls">
          <%= text_field :user, :first_name %>
        </div>
      </div>
      <div class="control-group">
        <%= label :user, :last_name, class: 'control-label' %>
        <div class="controls">
          <%= text_field :user, :last_name %>
        </div>
      </div>
      <div class="control-group">
        <%= label :user, :email, class: 'control-label' %>
        <div class="controls">
          <%= text_field :user, :email %>
        </div>
      </div>
      <div class="control-group">
        <%= label :user, :password, class: 'control-label' %>
        <div class="controls">
          <%= password_field :user, :password %>
        </div>
      </div>
      <div class="control-group">
        <%= label :user, :password_confirmation, class: 'control-label' %>
        <div class="controls">
          <%= password_field :user, :password_confirmation %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag 'Create', class: "btn btn-success" %>
    </div>
<% end %>