<h1>Edit profile</h1>

<%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    </div>

    <div class="form-actions">
      <%= f.submit "Save", class: "btn" %>
    </div>
<% end %>

<% if @user.company.owner != @user %>
    <%= button_to "Delete account", user_path(current_user), method: :delete, type: :button, confirm: "Do you really want to delete your account?", class: "btn btn-danger" %>
<% else %>
    You can't delete your account while you're the owner of your company.
<% end %>