<h1>Members of <%= current_user.company.name %></h1>
<table class="table table-bordered table-striped table-condensed">
  <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Invite User', invite_user_path %>
