<div class="btn-group actions">
  <%= back_to_users %>
</div>
<div class="well">
    <p>
      <b>First name:</b>
      <%= @user.first_name %>
    </p>

    <p>
      <b>Last name:</b>
      <%= @user.last_name %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Company:</b>
      <%= link_to @user.company do %>
          <%= @user.company.name %>
      <% end %>
    </p>
</div>
