<div class="btn-group actions">
  <%=  link_to users_path, class: "btn" do %>
    <i class="icon-chevron-left"></i> Members
  <% end %>
  <% if current_user == @user %>
    <%=  link_to edit_user_path(@user), class: "btn" do %>
      <i class="icon-pencil"></i> Edit
    <% end %>
  <% end %>
</div>
<div class="well profile">
    <div class="image">
      <%= gravatar_image_tag(@user.email, alt: @user.full_name, gravatar: { size: 100 }) %>
    </div>
    <p>
      <b>First name:</b>
      <%= @user.first_name %>
    </p>

    <p>
      <b>Last name:</b>
      <%= @user.last_name %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Company:</b>
      <%= company_link @user.company %>
    </p>
</div>
