<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :owner, collection: @company.users %>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", class: "btn" %>
  </div>
<% end %>
