<div class="post" id="post_<%= post.id %>">
  <h4 class="name"><%= profile_link post.user %></h4>
    <% if post.message.length < 300 %>
      <div class="message">
        <%= simple_format post.message %>
      </div>
    <% else %>
      <div class="message">
        <%= simple_format post.message[0..300] %>...
      </div>
      <a class="message_toggle">[ More ]</a>
      <div class="orig_message"><%= post.message %></div>
    <% end %>
  <span class="date">
    <abbr class="timeago" title="<%= post.created_at.getutc.iso8601 %>">
      <%= post.created_at.to_s %>
    </abbr>
  </span>
  -
  <% @comments = Post.where('parent_id = ?', post.id).order('created_at') %>
  <span class="comments">
    <i class="icon-comments-alt"></i> <%= Post.where('parent_id = ?', post.id).count %> Comments
    <%= link_to new_post_path, remote: true, class: "btn btn-mini" do %>
        <i class="icon-comment-alt"></i> Comment
    <% end %>
    <% if post.user_id == current_user.id %>
        <%= link_to edit_post_path(post), remote: true, class: "btn btn-mini" do  %>
            <i class="icon-pencil"></i> Edit
        <% end %>
        <%= link_to post_path(post), remote: true, method: :delete, class: "btn btn-mini btn-danger", confirm: "Do you really want to delete this post and all its comments?" do %>
            <i class="icon-remove"></i> Delete
        <% end %>
    <% end %>
    <div class="add_comment"></div>
    <!--
    <%= form_tag( '/posts.json', remote: true, class: "new_comment_form", style: "display: none;" ) do %>
        <%= text_area_tag "post[message]" %>
        <%= hidden_field_tag "post[parent_id]", post.id %>
        <%= hidden_field_tag "post[user_id]", current_user.id %>
        <%= hidden_field_tag "post[group_id]", params[:group] %>
        <%= hidden_field_tag "post[company_id]", current_user.company_id %>
        <%= submit_tag "Send comment", class: "btn" %>
    <% end %>
    -->
    <% if @comments.count > 3 %>
        <div class="show_older_comments"><a class="btn">Show older comments</a></div>
    <% end %>
    <% @comments.each do |comment| %>
        <% if @comments.index(comment) > @comments.count-4 %>
        <div class="comment" id="comment_<%= comment.id %>">
        <% else %>
        <div class="comment comment-hidden" id="comment_<%= comment.id %>">
        <% end %>
          <h4 class="name"><%= profile_link comment.user %></h4>
        <% if comment.message.length < 300 %>
          <div class="message">
            <%= simple_format comment.message %>
          </div>
        <% else %>
          <div class="message">
            <%= simple_format comment.message[0..300] %>...
          </div>
          <a class="message_toggle">[ More ]</a>
          <div class="orig_message"><%= comment.message %></div>
        <% end %>
          <span class="date">
            <abbr class="timeago" title="<%= comment.created_at.getutc.iso8601 %>">
              <%= comment.created_at.to_s %>
            </abbr>
          </span>
        <% if comment.user_id == current_user.id %>
            <%= link_to edit_post_path(comment), remote: true, class: "btn btn-mini" do  %>
                <i class="icon-pencil"></i> Edit
            <% end %>
            <%= link_to post_path(comment), remote: true, method: :delete, class: "btn btn-mini btn-danger", confirm: "Do you really want to delete this comment?" do %>
                <i class="icon-remove"></i> Delete
            <% end %>
        <% end %>
        </div>
    <% end %>
  </span>
</div>