<%
if @post.contains_link?
    if @post.extract_images.length > 0
        %>
        $('body').append('<div class="image_chooser"><h1>Choose an image</h1><div class="images"></div></div>');
        $('.image_chooser').css({
            'height': $(document).height()
        });
        $('.image_chooser .images').css({
            'width': 0.7*$(window).width()
        });
        <%
        @post.extract_images.each do |u|
            %>
            $('.image_chooser .images').append('<div class="image"><img src="<%= u %>" /></div>');
            <%
        end
        %>
        $('.image_chooser .images .image').click(function() {
            var image_url = $(this).find('img').attr("src");
            $.ajax({
                url: '/posts/<%= @post.id %>/set_image_url',
                type: 'PUT',
                data: {
                    'image_url': image_url
                },
                success: function() {
                    $('#post_<%= @post.id %> .preview img, #comment_<%= @post.id %> .preview img').attr("src", image_url);
                    $('.image_chooser').fadeOut(400, function() {
                        $(this).remove();
                    });
                }
            });
        });
        <%
    else
        @post.update_attribute(:image_url, nil)
        %>
        $('#post_<%= @post.id %> .preview, #comment_<%= @post.id %> .preview').remove();
        <%
    end
end
%>
$('#new_post').unblock();
<% if @post.parent_id.nil? %>
    $('#new_post').after('<%= escape_javascript(render @post) %>');
    $('#post_<%= @post.id %> .timeago').timeago();
    $('#post_<%= @post.id %> .message').data('message', '<% escape_javascript(@post.message) %>').linkify();
    $('#new_post textarea').val('');
<% else %>
    $('#post_<%= @post.parent_id %> .comments .count').text(<%= @post.parent.comment_count %>);
    $('#post_<%= @post.parent_id %> .comments').append('<%= escape_javascript(render @post) %>');
    $('#comment_<%= @post.id %> .timeago').timeago();
    $('#comment_<%= @post.id %> .message').linkify();
    close_comment_form($('#post_<%= @post.parent.id %>'));
<% end %>
$('#post_<%= @post.id %>').data('message', $('#post_<%= @post.id %>').find('.message').html());
initMessageToggle();