<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @info.key %>
</p>

<p>
  <b>Value:</b>
  <%= @info.value %>
</p>


<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
