<!DOCTYPE html>
<html>
<head>
  <title>EnterpriseSocialNetwork</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <div class="container">
    <% flash.each do |name,msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg %>
      </div>
    <% end %>
    <div class="row">
      <div class="span2">
        <div class="menu">
            <% if user_signed_in? %>
                <h3><%= link_to "Mainstream", :pages_home %></h3>
                <% @groups = current_user.groups %>
                <%= render partial: "groups/list" %>
            <% end %>
         </div>
      </div>
      <div class="span8">
        <div class="content">
            <%= yield %>
        </div>
      </div>
      <div class="span2">
        <div class="sidebar">
            <% if user_signed_in? %>
              <% unless @group.nil? || @group.id.nil? %>
                <%= render "groups/sidebar" %>
              <% end %>
              <% unless @company.nil? %>
                <%=  render "companies/sidebar" %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
